<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edlw"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme" >
        <activity
			android:name="com.example.edlw.MainActivity"
			android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.edlw.P_Activity"
			android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_p_" >
        </activity>
        <activity
            android:name="com.example.edlw.CommonActivity"
			android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_common_" >
        </activity>
        <activity
        	android:name="com.example.edlw.FoundActivity"
			android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_found_" >
        </activity>
        <activity
        	android:name="com.example.edlw.NotFoundActivity"
			android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_not_found_" >
        </activity>
	</application>
</manifest>
